/* CSS Document */
#NavBar {
	height: 60px;
	background-color: rgb(13, 13, 13);
}

nav ul {
	margin:0;
	padding:0;
}

nav ul li {
	list-style-type:none;
	float:left;
	display:block;
	width:150px;
	height:60px;
	text-align:center;
	line-height:55px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:17px;
}

nav ul li a {
	text-decoration:none;
	color:#fff;
}

nav ul li:hover {
	background-color:rgb(242,242,242);

}

nav ul li:hover a{
	display:block;
	color:#000;
	text-decoration:none;
}

@media screen and (max-width: 768px)
{
	#NavBar {
		height: 40px;
		background-color: rgb(13, 13, 13);
	}
	
	nav ul li {
		list-style-type:none;
		float:left;
		display:list-item;
		width:100px;
		height:40px;
		text-align:center;
		line-height:40px;
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size:13px;
	}
}

@media screen and (max-width: 768px)
{
	#NavBar {
		height: 160px;
	}
			
	nav ul li {
		float:left;
		width:100%;
		height:40px;
		line-height:40px;
		font-size:15px;
	}
	
}

@media screen and (max-width: 478px)
{
	#NavBar {
		height: 80px;
	}
	
	nav ul li {
		float:left;
		height:20px;
		line-height:20px;
		font-size:13px;
	}
}